:root{

    --charcole: rgb(58, 58, 58);
    --charcole1: rgb(133, 133, 133);
    --elecBlue: rgb(46, 192, 255);
    --hotPink: rgb(255, 0, 234);
}

*{
    padding: 0;
    margin: 0;
}

body{
    box-sizing: border-box;
    /* background-image: linear-gradient(var(--charcole), var(--hotPink), var(--charcole)); */
    background-color: var(--charcole);
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color: white;
    font-weight: 700;
    text-align: center;
}

#container{
    display: flex;
    justify-content: center;
}

#synthContainer{
    width: 60vh;
    height: 100vh;
    background-color: var(--charcole);
    border-left: 4px solid var(--elecBlue);
    border-right: 4px solid var(--elecBlue);
    /* border-radius: 35px; */
}

/* Synth //////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#block1{
    position:relative;
    width: 60vh;
    height: 1vh;
    background-color: var(--elecBlue);
    z-index: 3;
}

#screen1{
    position: relative;
    top:-15vh;
    left: 30vh;
    width: 20vh;
    height: 15vh;
    background-color: var(--elecBlue);
    z-index: 3;
    border-radius: 25px;
}

#dials{
    color: var(--elecBlue);
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.fa-circle-dot{
    padding: 3vh;
}

/* Buttons //////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#buttonContainer{
    /* width:30vh; */
    height: 20vh;
    margin: 4vh 0 0 1vh;
}

#buttonList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2vh;
    padding: 0;
}
.button{
    width: 5vh;
    height: 5vh;
    /* background-color: rgb(2, 234, 255); */
    border: 2px solid var(--elecBlue);
    border-radius: 50%;
    margin:1vh;
    list-style: none;
    color: white;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .2s;
}

/* Keys //////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#keyContainer1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.key1{
    width: 15vh;
    height: 75vh;
    background-color: var(--charcole);
    z-index: 2;
    transition: box-shadow, background-color .5s;
}

.key1:hover{
    width: 15vh;
    height: 75vh;
    background-color: var(--charcole);
    box-shadow: 0 15px 15px var(--elecBlue);
    z-index: 3;
}

.key1:active{
    z-index: 3;
    background-color: var(--elecBlue);
}

#key1{
    border-right: 4px solid var(--elecBlue);
}

#key2{
    border-right: 4px solid var(--elecBlue);
}

#key3{
    border-right: 4px solid var(--elecBlue);
}

#key4{

}

#keyContainer2{
    display: flex;
    position: absolute;
    width: 40vh;
    top: 25vh;
    z-index: 3;
}

.key2{
    width: 15vh;
    height: 60vh;
    background-color: var(--elecBlue);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: box-shadow, background-color .5s;
}

.key2:hover{
    box-shadow: 0 5px 15px var(--elecBlue);
}

.key2:active{
    box-shadow: 0 5px 15px var(--hotPink);
    z-index: 3;
    background-color: var(--hotPink);
}

#key5{
    position: relative;
    left: 7vh;
}

#key6{
    position: relative;
    left: 22vh;
}

/* background
keyboard background
animation transition
addition JS to stop sounds on keyup
different JS code???
